extends layout

block content


  center
    h2 Welcome to #{title}
      .main.container
        .row
          .col-md-6.col-md-offset-3
            p.display-4.m-b-2 Log In
            form(method='get' action='/login')
              div.form-group
                label(for='name') User Name
                p
                input.form-control(type='text' id='userName' placeholder='User Name' name='userName')
                p
              div.form-group
                label(for='password') Password
                p
                input.form-control(type='password' id='password' placeholder='password' name='password')
                p
              button.btn.btn-primary(type='submit') Log in 

    h2 Dont have a #{title} Account?
      form(method='get' action='/signUp')  
        p
        button.btn.btn-primary(type='submit') Sign Up 



    

//- block content
//-   p Welcome to #{title}
//-   .main.container
//-     .row

//-     .col-md-6.col-md-offset-3
//-         h1.display-4.m-b-2 Login

//-   form(action='/login',method='post')
//-     div(data-role='fieldcontain')
//-       fieldset(data-role='controlgroup')
//-         label(for='email') email
//-            input(id='email',type='text',value='',placeholder='@',name='email')
//-     div#passworddiv(data-role='fieldcontain')
//-       fieldset(data-role='controlgroup')
//-         label(for='password') password
//-            input(id='password',type='password',value='',placeholder='',name='password')
//-     div(id='hiddendiv',data-role='fieldcontain')



//-       .col-md-6.col-md-offset-3
//-         h1.display-4.m-b-2 Sign Up

  
//-   form(action='/signup',method='post')
//-     div(data-role='fieldcontain')
//-       fieldset(data-role='controlgroup')
//-         label(for='email') email
//-            input(id='email',type='text',value='',placeholder='@',name='email')
//-     div#passworddiv(data-role='fieldcontain')
//-       fieldset(data-role='controlgroup')
//-         label(for='password') password
//-            input(id='password',type='password',value='',placeholder='',name='password')
//-     div(id='hiddendiv',data-role='fieldcontain')
//-       fieldset(data-role='controlgroup')
//-         label(for='hidden_password') password
//-            input(id='hidden_password',type='text',value='',placeholder='',name='password2')
//-     div(data-role='fieldcontain')
//-       fieldset(data-type='vertical', data-role='controlgroup')                                           
//-        label(for='showpass') show password
//-        input(id='showpass',type='checkbox')
//-     div(data-role='fieldcontain')   
//-       input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')