doctype html  
html
  block vars
  block scripts 
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
  head
    title Pug Example
    link(rel='stylesheet' href='/bowerComponents/bootstrap/dist/css/bootstrap.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
    //- link(rel="stylesheet" href="/css/payment.css")
    //- script(src="/components/jquery/dist/jquery.min.js")
    //- script(src="/components/bootstrap/dist/js/bootstrap.min.js")
  body
    div.container
     block content