doctype html  
html
    block vars
    block scripts 
        script(src="https://cdn.plot.ly/plotly-latest.min.js")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        div.container
        block content