extends layout

block content


  center
    h2 Create Your FiTracker Account
    p
      .main.container
        .row
          .col-md-6.col-md-offset-3
            form(method='post' action='/createAccount')
              div.form-group
                label(for='firstName') First Name
                p
                input.form-control(type='text' id='firstName' placeholder='First Name' name='firstName')
                p
              div.form-group
                label(for='lastName') Last Name
                p
                input.form-control(type='text' id='lastName' placeholder='Last Name' name='lastName')
                p
                div.form-group
                label(for='userName') User Name
                p
                input.form-control(type='text' id='userName' placeholder= 'User Name' name='userName')
                p
              div.form-group
                label(for='gender') Gender
                p
                | Male                        
                input.form-control(type='radio' id='gender' name='gender', value = 0)
                p
                | Female
                input.form-control(type='radio' id='gender' name='gender', value = 1)
          
                p
                div.form-group
                label(for='age') Age
                p
                input.form-control(type='Number' id='age' placeholder='age' name='age')
                p
              div.form-group
                label(for='password') Password
                p
                input.form-control(type='password' id='password' placeholder='password' name='password')
                p

              div.form-group
                label(for='ReEnterPassword') Password
                p
                input.form-control(type='ReEnterPassword' id='ReEnterPassword' placeholder='Re-Enter Password' name='ReEnterPassword')
                p
              button.btn.btn-primary(type='submit') Create Account
