extends layout

block content
  center
    h2 Add a New Workout
      .main.container
        .row
          .col-md-6.col-md-offset-3

            form(method='post' action='/addWorkout/'+ user)
              div.form-group
                //label(for='milesRun')
                p
                input.form-control(type='Number' id='milesRun' placeholder='Miles Run' name='milesRun')
                p
              div.form-group
                //label(for='heartRate')
                p
                input.form-control(type='Number' id='heartRate' placeholder='Heart Rate' name='heartRate')
                p
                div.form-group
                //label(for='weightAtStart')
                p
                input.form-control(type='Number' id='weightAtStart' placeholder='Weight At Start' name='weightAtStart')
                p
              div.form-group
                //label(for='duration')
                p
                input.form-control(type='Number' id='duration' placeholder='Duration in Minutes' name='duration')
                p
              button.btn.btn-primary(type='Submit') Add Workout
