extends layout

block content


  center

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

    h2 Welcome to FiTracker
      .main.container
        .row
          .col-md-6.col-md-offset-3
            p.display-4.m-b-2
            form(method='post' action='/login')
              div.form-group
                //label(for='name')
                p
                input.form-control(type='text' id='username' placeholder='Userame' name='username')
                p
              div.form-group
                //label(for='password')
                p
                input.form-control(type='password' id='password' placeholder='Password' name='password')
                p
              button.btn.btn-primary(type='submit') Log in

    h5 Dont have a #{title} Account?
      .container
        form(method='get' action='/moveToCreate')
          p
          button.btn.btn-primary(type='submit') Sign Up
