extends layout

block content
  h3 Welcome !{f}
  p You have completed !{num} Workouts!

  h4 View Last 7 Workouts
      form(method='get' action='/getWorkouts7/'+ user)
        p
        button.btn.btn-primary(type='submit') View Workouts

  h4 View Last 30 Workouts
      form(method='get' action='/getWorkouts30/'+ user)
        p
        button.btn.btn-primary(type='submit') View Workouts

  h4 View Last 365 Workouts
      form(method='get' action='/getWorkouts365/'+ user)
        p
        button.btn.btn-primary(type='submit') View Workouts

  h4 View All Workouts
      form(method='get' action='/getWorkoutsAll/'+ user)
        p
        button.btn.btn-primary(type='submit') View Workouts
