extends layout

block content
  p Welcome !{user}
  p This is where your FiTracker information will be shown once we have completed the app

  h3 Add A New Workout
      form(method='get' action='/newWorkout/'+ user)  
        p
        button.btn.btn-primary(type='submit') Add Workout

  h3 View My Workouts From Past 7 Days
      form(method='get' action='/getWorkouts7/'+ user)  
        p
        button.btn.btn-primary(type='submit') View Workouts

  h3 View My Workouts From Past 30 Days
      form(method='get' action='/getWorkouts30/'+ user)  
        p
        button.btn.btn-primary(type='submit') View Workouts

  h3 View My Workouts From Past 365 Days
      form(method='get' action='/getWorkouts365/'+ user)  
        p
        button.btn.btn-primary(type='submit') View Workouts

  h3 View All of My Workouts
      form(method='get' action='/getWorkoutsAll/'+ user)  
        p
        button.btn.btn-primary(type='submit') View Workouts
    
  h3 Logout
    form(method='get' action='/')  
        p
        button.btn.btn-primary(type='submit') Logout